<div class="sidebar-content">
    <div class="sidebar-header h-card">
        <figure class="header-image">
            <img style="border-radius: 100%; border: 2px solid var(--foreground-color);" class="u-photo" src="/images/lizard.png" />
        </figure>
        <h1 class="header-title p-author"><a href="/" rel="me" class="u-url">Canoi Gomes</a></h1>
    </div>
    <hr class='hr-style'>
    <div class="menu-container">
        <div class="social-links">
            <ul>
                <li href="#"><a href="https://github.com/canoi12" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="https://bsky.app/profile/canoigomes.com.br" target="_blank"><i class="fa-brands fa-bluesky"></i></a></li>
                <li><a href="https://www.youtube.com/@canoidev" rel="me" target="_blank" class="icon"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="https://canoigomes.itch.io" rel="me" target="_blank" class="icon"><i class="fa-brands fa-itch-io"></i></a></li>
                <li><a href="https://www.linkedin.com/in/canoi-gomes-de-aguiar/" rel="me" target="_blank" class="icon"><i class="fa-brands fa-linkedin"></i></a></li>
                <li id="nav-toggle"><a href="#" onclick="toggleNavMenu()" class="icon"><i class="fa-solid fa-bars"></i></a></li>
            </ul>
        </div>
        <div id="nav-menu" class="nav-menu">
            <ul>
                <li><a id="home_button" href="/">/home</a></li>
                <li><a id="resume_button" href="/resume.html">/resume</a></li>
                <li><a id="projects_button" href="/projects.html">/projects</a></li>
                <li><a id="decentralize_button" href="/decentralize.html">/descentralize</a></li>
            </ul>
        </div>
    </div>
    <div class="site-footer">
        <p><b>@Canoi Gomes - 2025</b></p>
    </div>
</div>